.container {
	display: flex;
	flex-flow: row wrap;

	& > * {
		width: calc(50% - 1rem);

		&:nth-child(odd) {
			margin-right: 1rem;
		}

		&:nth-child(even) {
			margin-left: 1rem;
		}

		@include respond(phone) {
			width: calc(100%);

			&:not(:last-child) {
				margin-bottom: 2rem;
			}

			&:nth-child(odd) {
				margin-right: 0;
			}

			&:nth-child(even) {
				margin-left: 0;
			}
		}
	}
}
