.container {
	display: flex;
	flex-flow: row wrap;
	// justify-content: center;

	& > * {
		width: calc(50% - 1rem);

		&:nth-child(odd) {
			margin-right: 1rem;
		}

		&:nth-child(even) {
			margin-left: 1rem;
		}
	}
}
