.dash {
	&__horizontal {
		&-right {
			@include dash;
			// top: 100vh;

			right: calc(25% - 1rem + 4px);
			// right: 0;
		}

		&-left {
			@include dash;
			left: calc(25% - 0.5rem + 1px);
		}

		&-center {
			@include dash;
			left: calc(50vw - 0.5rem + 1px);
		}
	}
}
