.logo {
	position: fixed;
	height: auto;
	width: 6rem;
	top: 3rem;
	left: 3rem;
	z-index: 1;
	animation: fadeIn 2s;
	overflow: visible;

	&__image {
		height: 100%;
		width: 100%;
		transition: all 0.2s;
		fill: var(--color-white);
		overflow: visible;

		path {
			transition: all 0.2s;
		}

		polygon {
			transition: all 0.2s;
		}

		&:hover {
			polygon {
				fill: var(--color-pink);

				&:first-child {
					transform: translateX(5px) translateY(-5px);
				}

				&:last-child {
					transform: translateX(-6px) translateY(5px);
				}
			}
		}
	}
}
