.modal-box {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(#161616, 0.95);
	z-index: 9999;
	overflow: auto;
	transition: all 0.5s;

	@supports (-webkit-backdrop-filter: blur(10px)) or
		(backdrop-filter: blur(10px)) {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: rgba(var(--color-black), 0.3);
	}

	&__content {
		@include absCenter;

		width: 50%;
		padding: 2rem;
		height: 90%;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 0px;
		}
	}

	&__close {
		position: absolute;
		top: 0;
		right: 2.5rem;
		// text-align: right;
		font-size: 3rem;
		line-height: 1;
		transition: all 0.3s;

		&:hover {
			cursor: pointer;
			color: var(--color-pink);
		}
	}

	&__title {
		// position: absolute;
		// top: 2.5rem;
		// left: 2.5rem;
		text-align: left;
		font-size: 3rem;
		letter-spacing: 1px;
		margin-bottom: 4rem;
		animation: slideInLeft 0.5s backwards;
	}

	&__description {
		text-align: left;
		font-size: 1.2rem;
		letter-spacing: 0.5px;
		width: 75%;
		margin-bottom: 4rem;
		line-height: 1.6rem;

		overflow: hidden;

		& > * {
			animation: slideInUp 0.5s 0.2s backwards;
		}
	}

	&__images {
		// display: none;
		&-desktop {
			position: relative;
			margin: 0 auto;
			margin-bottom: 2em;
			&-outline {
				// @include absCenter;
				width: 35rem;
			}
			&-img {
				position: absolute;
				width: 33rem;
				height: auto;
				top: 3rem;
				left: 0;
				right: 0;
				margin: 0 auto;
				// width: 100%;
				// height: 100%;
			}
		}

		&-mobile {
			// display: flex;

			// justify-content: center;
			margin-bottom: 2em;
			&-box {
				position: relative;
				display: inline-block;

				&:first-child {
					margin-right: 4rem;
				}

				&-outline {
					width: 16rem;
					fill: var(--color-white);
				}

				&-img {
					position: absolute;
					width: 13.5rem;
					height: auto;
					top: 4.6rem;
					left: 1.4rem;
					// right: 0;
					// margin: 0 auto;
				}
			}
		}
	}

	&__tags {
		margin-top: 3rem;
		width: 75%;
		text-align: left;

		.section-heading {
			margin-bottom: 0;
		}

		&-box {
			display: flex;
			flex-wrap: wrap;

			&-item {
				background-color: var(--color-grey-light-3);
				color: var(--color-grey-light-1);
				font-size: 1.4rem;
				padding: 0.3rem 0.8rem 0.3rem 0.8rem;
				border-radius: 0.5rem;
				margin-top: 0.7rem;
				transition: all 0.3s;
				font-family: TradeGothic-Bold;

				&:hover {
					cursor: default;
					background-color: var(--color-pink);
					color: var(--color-white);
				}

				&:not(:last-child) {
					margin-right: 0.7rem;
				}
			}
		}
	}

	&__links {
		display: flex;
		justify-content: center;
		margin-top: 3rem;

		&-box {
			display: flex;
			align-items: center;
			transition: all 0.3s;

			&:hover {
				color: var(--color-pink);

				svg {
					fill: var(--color-pink);
				}
			}

			&:not(:last-child) {
				margin-right: 2rem;
			}

			svg {
				fill: var(--color-white);
				width: 2.5rem;
				margin-right: 0.7rem;
				transition: all 0.3s;
			}
		}
	}

	&-enter {
		opacity: 0;

		.bars--horizontal {
			&,
			&::before,
			&::after {
				width: 0;
				opacity: 0;
			}
		}

		.bars--vertical {
			&,
			&::before,
			&::after {
				height: 0;
				opacity: 0;
			}
		}
	}

	&-leave-to {
		opacity: 0;

		.bars--vertical {
			transform: translateY(-100%);
			opacity: 0;
		}

		.bars--horizontal {
			transform: translateX(100%);
			opacity: 0;
		}

		.modal-box__title {
			// opacity: 0;
			animation: slideOutLeft 0.5s forwards;
		}

		.modal-box__description > * {
			// opacity: 0;
			animation: slideOutDown 0.5s forwards;
		}
	}
}
