.navigation {
	&__checkbox {
		display: none;
	}
	&__button {
		height: 3rem;
		width: 3rem;
		position: fixed;
		top: calc(50% - 1.5rem);
		left: 3rem;
		z-index: 2000;
		text-align: center;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include respond(tab-port) {
			top: 4rem;
			right: 4rem;
		}

		@include respond(phone) {
			top: 3rem;
			right: 3rem;
		}
	}

	&__container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		opacity: 1;
		background-color: rgba(#161616, 0.9);
		z-index: 1000;
	}

	&__nav {
		height: 100vh;
		position: fixed;
		top: 0;
		left: 25vw;
		z-index: 1500;
		width: 0;
		transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		width: 25vw;
		overflow: hidden;
	}

	&__list {
		position: absolute;
		top: calc(50% - 2.5rem);
		transform: translate(0%, -50%);
		list-style: none;
		text-align: center;

		width: 100%;
	}

	&__item {
		font-family: TradeGothic-Bold;

		animation: slideInLeft 0.5s backwards;
		width: 100%;
		text-align: left;
		&:nth-child(1) {
			animation-delay: 0s;
		}
		&:nth-child(2) {
			animation-delay: 0.125s;
		}
		&:nth-child(3) {
			animation-delay: 0.25s;
		}
	}

	&__link {
		&:link,
		&:visited {
			text-align: left;
			display: inline-block;
			font-size: 4rem;
			letter-spacing: 1px;
			padding: 1rem 0;
			color: var(--color-white);
			text-decoration: none;
			text-transform: uppercase;
		}

		&:hover,
		&:active {
		}
	}

	&__social {
		display: flex;
		justify-content: center;
		position: absolute;
		align-items: center;
		top: calc(75% - 1.5rem);
		left: calc(75% - 1.5px);

		.vertical-bar {
			height: 2rem;
			width: 3px;
			background-color: var(--color-white);
		}

		img {
			display: inline-block;
			width: 2rem;
			height: auto;
			fill: white;
			&:not(:last-child) {
				margin-left: 1rem;
				margin-right: 1rem;
			}
		}
	}

	//ICON
	&__icon {
		position: relative;
		top: 0;
		width: 3rem;
		height: 2px;
		background-color: var(--color-white);
		transition: all 0.5s;
		opacity: 1;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 3rem;
			height: 2px;
			background-color: var(--color-grey-light-1);
			z-index: -1;
		}

		&:nth-child(2) {
			margin-top: 0.7rem;
			margin-bottom: 0.7rem;
		}
	}

	// BUTTON ANIMATION

	&__button:not(&__active):hover &__icon {
		animation: growIn 0.8s;

		&:nth-child(1) {
			animation-delay: 0s;
		}
		&:nth-child(2) {
			animation-delay: 0.125s;
		}
		&:nth-child(3) {
			animation-delay: 0.25s;
		}
	}

	&__active &__icon {
		&:nth-child(1),
		&:nth-child(1)::before {
			width: 0;
		}

		&:nth-child(3),
		&:nth-child(3)::before {
			width: 0;
		}
	}

	// TRANSITION

	&__container-enter-active {
		transition: all 0.3s;
	}

	&__container-leave-active {
		transition: all 1s;
	}

	&__container-enter {
		background-color: rgba(#161616, 0);

		.bars--horizontal {
			&,
			&::before,
			&::after {
				width: 0;
				opacity: 0;
			}
		}

		.bars--vertical {
			&,
			&::before,
			&::after {
				height: 0;
				opacity: 0;
			}
		}
	}

	&__container-leave-to {
		background-color: rgba(#161616, 0);

		.navigation__item {
			animation: slideOutRight 0.5s forwards;

			&:nth-child(1) {
				animation-delay: 0s;
			}
			&:nth-child(2) {
				animation-delay: 0.125s;
			}
			&:nth-child(3) {
				animation-delay: 0.25s;
			}
		}

		.bars--vertical {
			transform: translateY(-100%);
			opacity: 0;
		}

		.bars--horizontal {
			transform: translateX(100%);
			opacity: 0;
		}
	}
}
