.project {
	text-align: center;
	position: relative;
	// transition: all 0.2s;
	&:nth-of-type(1) {
		.project__content {
			background-image: linear-gradient(
				to right bottom,
				#78ffd6,
				#00d7d6
			);
		}
	}

	&:nth-of-type(2) {
		.project__content {
			background-image: linear-gradient(
				to right bottom,
				#0f2027,
				#003f72
			);
		}
	}

	&:nth-of-type(3) {
		.project__content {
			background-image: linear-gradient(
				to right bottom,
				#0f0c29,
				#1b1464
			);
		}
	}

	&:nth-of-type(4) {
		.project__content {
			background-image: linear-gradient(
				to right bottom,
				#ffffff,
				#e6e6e6
			);
		}
	}

	&:nth-of-type(5) {
		.project__content {
			background-image: linear-gradient(
				to right bottom,
				#00f260,
				#00a99d
			);
		}
	}

	&__box {
		height: 22rem;
		width: 22rem;
		margin: 0 auto;
		margin-bottom: 3rem;

		&:hover {
			cursor: pointer;

			.project__content {
				transform: translateY(-3px);
				filter: blur(3px) brightness(40%);
				box-shadow: 0.4rem 0.4rem 1rem var(--color-black);
			}

			.project__title,
			.project__links {
				transform: translateY(-3px);
				opacity: 1;
				visibility: visible;
			}

			.project__icon {
				// transform: scale(0.9);
			}
		}
	}

	&__content {
		display: flex;
		height: 100%;
		// flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		margin-bottom: 2rem;
		transition: all 0.2s;
		box-shadow: 0.2rem 0.2em 0.8rem var(--color-black);
	}

	&__icon {
		height: 6rem;
		width: 6rem;
		display: flex;
		justify-content: center;

		img {
			height: 100%;
		}

		transition: all 0.2s;
	}

	&__title {
		position: absolute;
		top: 4rem;
		left: 0;
		right: 0;
		font-size: 2rem;
		opacity: 0;
		visibility: hidden;
		transition: all 1s;
	}

	&__links {
		display: flex;
		justify-content: center;
		position: absolute;
		bottom: 6em;
		left: 0;
		right: 0;
		// left: 50%;
		// transform: translate(-50%, -50%);
		visibility: hidden;
		opacity: 0;
		transition: opacity 1s;

		&-box {
			display: flex;
			align-items: center;
			// justify-content: space-around;
			&:not(:last-child) {
				margin-right: 2rem;
			}

			img {
				width: 2.5rem;
				margin-right: 0.7rem;
			}
		}
	}
}
