.project-box {
	text-align: center;
	position: relative;

	&:nth-of-type(1) {
		.project-box__content {
			background-image: linear-gradient(
				to right bottom,
				#78ffd6,
				#00d7d6
			);
		}
	}

	&:nth-of-type(2) {
		.project-box__content {
			background-image: linear-gradient(
				to right bottom,
				#0f2027,
				#003f72
			);
		}
	}

	&:nth-of-type(3) {
		.project-box__content {
			background-image: linear-gradient(
				to right bottom,
				#0f0c29,
				#1b1464
			);
		}
	}

	&__content {
		display: flex;
		// background-color: red;
		height: 21rem;
		width: 21rem;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		margin-bottom: 2rem;
		transition: all 0.3s;
		box-shadow: 0.2rem 0.2em 0.8rem var(--color-black);
		&:hover {
			filter: blur(3px) brightness(60%);
			box-shadow: 0.1rem 0.2rem 0.5rem var(--color-black);
			~ .project-box__title,
			~ .project-box__links {
				opacity: 1;
				visibility: visible;
			}

			> .project-box__icon {
				transform: scale(0.9);
			}
		}
	}

	&__icon {
		height: 6rem;
		width: 6rem;
		display: flex;
		justify-content: center;
		img {
			height: 100%;
		}
		transition: all 0.3s;
	}

	&__title:hover,
	&__links:hover {
		~ .project-box__content {
			height: 100rem;
		}
	}

	&__title {
		position: absolute;
		top: 4rem;
		left: 0;
		right: 0;
		font-size: 2rem;
		opacity: 0;
		visibility: hidden;
		transition: all 1s;
	}

	&__links {
		display: flex;
		position: absolute;
		bottom: 2.8rem;
		left: 50%;
		transform: translate(-50%, -50%);
		visibility: hidden;
		opacity: 0;
		transition: opacity 1s;
		&-box {
			display: flex;
			align-items: center;
			// justify-content: space-around;
			&:not(:last-child) {
				margin-right: 2.5rem;
			}
			img {
				width: 2.8rem;
				margin-right: 0.7rem;
			}
		}
	}
}
