.scroll {
	position: fixed;
	max-width: 5rem;
	top: 50%;
	right: 3rem;
	height: 2px;
	width: 10rem;

	&__bar {
		position: absolute;
		content: "";
		background-color: var(--color-white);
		height: 100%;
	}

	@include respond(tab-port) {
		display: none;
	}
}
