.form {
	// display: flex;
	// flex-direction: column;

	&__group:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__input {
		width: 90%;
		letter-spacing: 0.5px;
		font-family: inherit;
		padding: 1rem 1rem;

		background-color: transparent;
		border: 0;
		border-bottom: 1px solid var(--color-grey);
		outline: none;
		color: var(--color-white);
		// color: var(--color-grey);
		display: block;
		font-size: 1.2rem;

		&:focus,
		&:active {
			border-bottom: 1px solid var(--color-white);
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			-webkit-box-shadow: 0 0 0 30px var(--color-grey-dark) inset;
			-webkit-text-fill-color: var(--color-white) !important;
			background-color: var(--color-grey-dark);
		}

		&:focus:valid {
			border-bottom: 1px solid #55c57a;
		}

		&:focus:invalid {
			// border-bottom: 3px solid $color-secondary-dark;
		}

		&::-webkit-input-placeholder {
			// color: $color-grey-dark-2;
		}
	}

	&__text-area {
		width: 90%;
		font-family: inherit;
		letter-spacing: 0.5px;
		font-size: 1.2rem !important;
		line-height: 1.6rem !important;
		display: block;
		padding: 1rem 1rem;

		height: 10rem;
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid var(--color-grey);
		outline: none;
		color: var(--color-white);
		border-bottom: 1px solid var(--color-white);

		// &:focus:invalid {
		// 	border-bottom: 3px solid white;
		// }

		&:focus:valid {
			border-bottom: 1px solid #55c57a;
		}
	}

	&__label {
		font-size: 1.2rem;
		margin-left: 1rem;
		margin-top: 0.7rem;
		display: block;
		transition: all 0.3s;
		color: var(--color-grey);
	}

	&__input:placeholder-shown + &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	}

	&__text-area:placeholder-shown + &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	}

	&__text-area:placeholder-shown ~ &__label {
		opacity: 0;
		// visibility: hidden;
		// transform: translateY(-4rem);
	}

	&__button {
		display: block;
		margin-left: auto;
		margin-right: 2rem;
		padding: 1rem 1rem 0 1rem;
		font-family: inherit;
		font-size: 1.3rem;
		letter-spacing: 0.5px;
		color: var(--color-grey);
		background-color: transparent;
		border: none;
		transform: translateZ(0);
		transition: color 0.3s;

		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: var(--color-pink);
			transform: scaleX(0);
			transform-origin: 0 50%;
			transition-property: transform;
			transition: all 0.3s ease-out;
		}

		&::after {
			content: "";
			display: block;
			position: relative;
			border-top: 1px solid grey;
			width: 50%;
			margin-top: 0.6rem;
			margin-left: -1rem;
			transition: all 0.3s ease-out;
		}

		&:hover {
			color: var(--color-white);
			cursor: pointer;

			&::before {
				transform: scaleX(1);
			}

			&::after {
				width: 100%;
				border-top: 1px solid var(--color-pink);
			}
		}
	}
}
