@font-face {
    font-family: TradeGothic;
    src: url("/fonts/TradeGothicLTStd.otf");
}

@font-face {
    font-family: TradeGothic-Bold;
    src: url("/fonts/TradeGothic-Bold.otf");
}

@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("/fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: SFMonoRegularWoff;
    src: url("/fonts/SFMono/SFMono-Regular.woff");
}

@font-face {
    font-family: SFMonoRegularWoff2;
    src: url("/fonts/SFMono/SFMono-Regular.woff2");
}

@font-face {
    font-family: SFMonoSemiboldWoff;
    src: url("/fonts/SFMono/SFMono-Semibold.woff");
}

@font-face {
    font-family: SFMonoSemiboldWoff2;
    src: url("/fonts/SFMono/SFMono-Semibold.woff2");
}
