*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

::-webkit-scrollbar {
	width: 2px; /* remove scrollbar space */
	background: transparent; /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-track {
	// width: 10px;
	// background: #eb2f64;
}

::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 3px;
}

/* optional: show position indicator in red */
// ::-webkit-scrollbar-thumb {
// }

html,
body {
	min-height: 100%;
	// min-width: 100%;
	// width: 100%;
}

html {
	// This defines what 1rem is
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
	overflow: scroll;
	overflow-x: hidden;

	@include respond(tab-land) {
		// width < 1200?
		font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
	}

	@include respond(tab-port) {
		// width < 900?
		font-size: 50%; //1 rem = 8px, 8/16 = 50%
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12, 12/16
	}
}

body {
	background-color: var(--color-grey-light-2);
	box-sizing: border-box;
	background-image: linear-gradient(
		to bottom,
		var(--color-grey-dark),
		var(--color-grey-dark) 100vh,
		var(--color-grey-light-2)
	);
	// background-color: var(--color-grey-dark);
	background-size: cover;
	background-repeat: no-repeat;
}

::selection {
	background-color: var(--color-pink);
	color: var(--color-white);
}
