@font-face {
	font-family: TradeGothic;
	src: url("../assets/fonts/TradeGothicLTStd.otf");
}

@font-face {
	font-family: TradeGothic-Bold;
	src: url("../assets/fonts/TradeGothic-Bold.otf");
}

@font-face {
	font-family: Hira;
	src: url("../assets/fonts/Hira.otf");
}

@font-face {
	font-family: Roboto;
	src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: Roboto-Bold;
	src: url("../assets/fonts/Roboto-Bold.ttf");
}

body {
	color: var(--color-white);
	font-family: TradeGothic, Hira, Roboto, Arial, Helvetica, sans-serif;
}

.section-heading {
	font-size: 1.3rem;
	margin-bottom: 3rem;
	letter-spacing: 0.5px;

	@include respond(tab-port) {
		margin-bottom: 5rem;
	}
}

.link-heading {
	text-decoration: none;
	color: var(--color-white);
	font-size: 1.3rem;
}

.paragraph {
	font-size: 1.2rem;
	line-height: 1.6rem;
}
